<hr/>
@foreach (var item in EventType)
{
    <p>@item</p>
    <hr />
}

@code {
    List<string> EventType = new List<string>();

    protected override void OnInitialized()
    {
        EventType.Add("OnInitialized - CHILD is called");
    }

    [Parameter]
    public int CountValue { get; set; }

    protected override void OnParametersSet()
    {
        EventType.Add("OnParametersSet - CHILD is called");
    }
}
